<section>
  <div vocab="http://schema.org/" typeof="Movie">
    <div class="movie-picture" style="background-image: url({{movie.image}});" property="image"></div>
    <h3 class='movie-title' property="name">
      {{movie.title}}
    </h3>
    <h3 class='movie-year' property="datePublished">
      Released in {{movie.releaseYear}}
    </h3>
    <h3>
      Plot:
    </h3>
    <p class='movie-plot' property="description">
      {{movie.plot}}
    </p>
    <div property="aggregateRating" typeof="AggregateRating">
        <h3>
          Ratings:
        </h3>
        <p>
          <span property="ratingValue">1</span>: <span property="ratingCount">{{rating.one}}</span>
        </p>
        <p>
          <span property="ratingValue">2</span>: <span property="ratingCount">{{rating.two}}</span>
        </p>
        <p>
          <span property="ratingValue">3</span>: <span property="ratingCount">{{rating.three}}</span>
        </p>
        <p>
          <span property="ratingValue">4</span>: <span property="ratingCount">{{rating.four}}</span>
        </p>
        <p>
          <span property="ratingValue">5</span>: <span property="ratingCount">{{rating.five}}</span>
        </p>
    </div>
  </div>
</section>

<link rel="stylesheet" type="text/css" href="/css/movie.css">
