<section>
  <div class="movie-picture" style="background-image: url({{movie.image}});"></div>
  <div>
    <h3 class='movie-title'>
      {{movie.title}}
    </h3>
    <h3 class='movie-year'>
      Released in {{movie.releaseYear}}
    </h3>
    <h3>
      Plot:
    </h3>
    <p class='movie-plot'>
      {{movie.plot}}
    </p>
    <div>
        <h3>
          Ratings:
        </h3>
        <p>
          1: {{rating.one}}
        </p>
        <p>
          2: {{rating.two}}
        </p>
        <p>
          3: {{rating.three}}
        </p>
        <p>
          4: {{rating.four}}
        </p>
        <p>
          5: {{rating.five}}
        </p>
    </div>
  </div>
</section>

<link rel="stylesheet" type="text/css" href="/css/movie.css">
