<section>
  <div>
    <div class="friendList">
      <h3>
        Is friend with:
      </h3>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0" class="table-friend">
          <thead>
            <tr>
              <th>Username</th>
              <th>Link</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0" class="table-friend">
          <tbody>
            {{#each friends}}
              <tr>
                <td>{{this.username}}</td>
                <td>
                  <a href="/users/{{this.id}}">link</a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <h3>
        Username:
      </h3>
      <p >
        {{user.username}}
      </p>
    </div>
    {{# if canAdd}}
      <div>
        <form action="/addFriend/{{user.id}}" method="GET">
          <button class="" type="submit">
            Add Friend
          </button>
        </form>
      </div>
    {{/if}}
    {{#if user.canSee}}
      <div>
        <h3>
          First Name:
        </h3>
        <p >
          {{user.firstName}}
        </p>
      </div>
      <div>
        <h3>
          Last Name:
        </h3>
        <p >
          {{user.lastName}}
        </p>
      </div>
      <div>
        <h3>
          Gender:
        </h3>
        <p >
          {{#if user.male}}
            Mister
          {{else}}
            Miss
          {{/if}}
        </p>
      </div>
    {{/if}}
    <div>
      <h3>
        Movies
      </h3>
      <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Rated</th>
            <th>Link</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each ratings}}
            <tr>
              <td data-title="ID">{{this.movieId}}</td>
              <td data-title="Title">{{this.title}}</td>
              <td data-title="Title">{{this.rating}}</td>
              <td data-title="Link">
                <a href="/movies/{{this.movieId}}">link</a>
              </td>
              <td data-title="Delete">
                {{#if ../sameUser}}
                  <form action="/delMovie" method="POST">
                    <input type="hidden" name="id" value="{{this.movieId}}"/>
                    <button class="button" type="submit">
                      REMOVE
                    </button>
                  </form>
                {{else if ../admin}}
                  <form action="/delMovie" method="POST">
                    <input type="hidden" name="id" value="{{this.movieId}}"/>
                    <button class="button" type="submit">
                      REMOVE
                    </button>
                  </form>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>

<link rel="stylesheet" type="text/css" href="/css/user.css">
